<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> hell world </title>
        </head>
        <body style="background-color: #333333; text-align:center; margin: 0 auto;">
        <div style="text-align: justify; text-justify: inter-word; margin-left: 1rem;">
            <h3 style="color: #ffffff;"> hell world </h3>
            <h4 style="color: #ffffff;"> a furutistic oldschool blog </h4>
            <h5 style="color: #ffffff;"> 17 March 2022 </h5>
        </div>
        <div style="text-align: justify; text-justify: inter-word;">
                <ol>
                        <li style="color: #ffffff;"> introduction </li>
                        <li style="color: #ffffff;"> thesis </li>
                        <li style="color: #ffffff;"> results </li>
                        <li style="color: #ffffff;"> conclusion </li>
                </ol>
        </div></br>
        <div style="text-align: justify; text-justify: inter-word; margin-left: 1rem;">
                <h4 style="color: #ffffff;"> introduction </h4>
                        <p style="color: #ffffff; max-width: 28rem;"> Lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem </p></br>
                <h4 style="color: #ffffff;"> thesis </h4>
                        <p style="color: #ffffff; max-width: 28rem;"> Lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem. </p></br>
                <h4 style="color: #ffffff;"> results </h4>
                        <p style="color: #ffffff; max-width: 28rem;"> Lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem. </p></br>
                <h4 style="color: #ffffff;"> conclusion </h4>
                        <p style="color: #ffffff; max-width: 28rem;"> lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem lorem ipsum dolorem </p></br>
        </div>
        </body>
    </html>
    
